<html>
<head>
<script type="text/javascript"
src="validate.js"></script>
</head>
<body>
<form action ="#" name="PROGNOSTIC MODEL OF HEART FAILURE" method="POST"
onsubmit="return(validate());">
<table cellpadding="5" width="50%" bgcolor="mistyrose"
align="center"
cellspacing="2">

<tr>
<td colspan="10">
<center><h3style="background-color:blue"><font size=5><b> PROGNOSTIC MODEL FOR HEART FAILURE</b></h3></font></center>
</td>
</tr>

<tr>
<td colspan="5">
<center><h3style="background-color:blue"><font size=4><b> GENERAL VITALS</b></h3></font></center>
</td>
</tr>

<tr>
<td> NAME </td>
<td><input type="text" name="textnames" id="textname" size="30"></td>
</tr>

<tr>
<td> AGE </td>
<td><input type="number" name="age" id="textname" size="3"></td>
</tr>

<tr>
<td>SEX</td>
<td><input type="radio" name="gender" value="1" size="10">MALE
<input type="radio" name="gender" value="0" size="10">FEMALE
</tr>

<tr>
<td>CIGARETTES PER DAY </td>
<td><input type="number" name="cigsPerDay" id="textname" size="5"></td>
</tr>

<tr>
<td> PREVALENT HYPER TENSION </td>
<td><input type="radio" name="prevalentHyp" value="1" size="10">YES
<input type="radio" name="prevalentHyp" value="0" size="10">NO
</tr>

<tr>
<td> DIABETES </td>
<td><input type="radio" name="diabetes" value="1" size="10">YES
<input type="radio" name="diabetes" value="0" size="10">NO
</tr>

<tr>
<td> TOTAL CHOLESTROL </td>
<td><input type="number" name="totChol" id="textname" size="5"></td>
</tr>

<tr>
<td> SYSTOLIC BLOOD PRESSURE </td>
<td><input type="number" name="sysBP" id="textname" size="5"></td>
</tr>

<tr>
<td> BMI </td>
<td><input type="number" name="BMI" id="textname" size="5"></td>
</tr>

<tr>
<td> HEART RATE </td>
<td><input type="number" name="heartRate" id="textname" size="5"></td>
</tr>

<tr>
<td> GLUCOSE</td>
<td><input type="number" name="glucose" id="textname" size="5"></td>
</tr>

<tr>
<td><center><input type="reset"><td colspan="1"><input type="Submit" value="Submit form"></center></td>
</tr>

</table>
</form>

<tr>
<center><a href="page 2.htm"><input type="button" name="button" value="Next Page"></a></center>
</tr>

</html>

